@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Products</title>
</head>
<body>
    <h1 style="color:cornflowerblue; font-weight:bold; font-family:'Comic Sans MS'; font-style:oblique; padding: 40px;">Çiçek Sepeti</h1>
    <table class="table-bordered" cellpadding="2" cellspacing="2" border="1">
        <tr style="text-align:center;">
            <th scope="col" width="150px" height="100px">Ürün Kodu</th>
            <th scope="col" width="150px" height="100px">Ürün Adı</th>
            <th scope="col" width="150px" height="100px">Fotoğraf</th>
            <th scope="col" width="150px" height="100px">Fiyat</th>
            <th scope="col" width="150px" height="100px">Buy</th>
        </tr>
        @foreach (var product in ViewBag.products)
        {
        <tr style="text-align:center;">
            <td style="color:black;font-style:italic;" scope="row">@product.Id</td>
            <td style="color:darkblue;">
                @product.Name
            </td>
            <td><img src="~/images/@product.Photo" width="100" /> </td>
            <td>@product.Price  TL</td>
            <td align="center">
                <a style="color:forestgreen;font-weight:bold;" asp-controller="cart" asp-action="buy" asp-route-id="@product.Id">Sepete Ekle</a>
            </td>
        </tr>
        }
    </table>

</body>
</html>
